@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #0b1f53;
    --primary-color2: #058ec4;
    --secondary-color: #ef9222;
    --white: #fff;
    --dark: #000;
    --light-black: #666;
    --light-white: #ccc;
    --light-bg: #f6f6f6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--light-bg);
    /* line-height: 1.4; */
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color2);
    padding: 0.6rem 1rem;
    border-radius: 4px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    letter-spacing: 1px;
}